# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
# BFG Reports
..bfg-report/*
# Node stuff
node_modules/
package-lock.json
package.json
# Temporary
ansible/